* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
  height: 90%;
}
.input-section {
  display: flex;
  gap: 10;
  align-items: center;
}

.todo-style {
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
